main {
    background-color: #1ABC9C;
}

.avatar-img {
    width: 15rem; 
    height: auto;
}

.icon {
    color: white;
    font-size: 1rem;
margin: 0px 10px;
}

.line {
    width: 80px;
    height: 4px;
    background-color: white;
}

