
.site-footer{
    background-color: #2C3E50;
}
.footer-container{
      display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 100rem;
  margin: 0 auto;
}
.footer-section{
      flex: 1;
  padding: 20px;
  text-align: center;
}

.icons i{
    width: 40px;
    font-size:1rem;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}
.copyright {
  background-color: #1a252f;
  color: white;
  padding: 20px 0;
}
